    body{
        height:100vh; 
        display:flex;
        align-items:center;
        justify-content:center;
        margin:0;
        background-color:#f0f0
    }
    
    #timer{
   text-align:center;
   background: #282c34;
   padding:20px 40px;
   border-radius:10px;
   color:white;
   box-shadow:0 4px 7px gray;
    }
    #time{
    font-size:3rem;
    letter-spacing:2px;
    margin-bottom:20px;
}
#btns{
    display:flex;
    justify-content:space-around; 
   gap:10px;
}
button{
    background:#007BFF;
    color:white;
    padding:10px 20px;
    font-size:1rem;
    border-radius:5px;
}
#stopbtn{
    background:#dc3545;
}
#pause{
    background:#ffc107;
    color:black;
}
